<template>
    <div>
        <p>
           Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais. Seu tamanho é variável.

            “Conjunto de palavras e frases articuladas, escritas sobre qualquer suporte”[1].
        </p>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
p{
    color:blue;
}
</style>
