<template>
    <div class="phone-viewport">
        <md-toolbar>
            <h1 class="md-title">Diogo Tradutor</h1>
        </md-toolbar>
    </div>
</template>

<script>
export default {
  name: 'WebschoolComponent'
}
</script>
